<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
    <%- include('../layout/head'); %>
</head>
<body>
    <div class="container">
        <%- include('../layout/nav'); %>
        <div class="panel panel-default">
            <div class="panel-heading">
                Add new Post
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <%if(data.error){%>
                            <div  id="login-alert" class="alert alert-danger col-sm-12">
                                <%=data.error%>
                            </div>
                            <%}%> 
                        <form action="" role="form" method="POST" action="/admin/post/new">
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" class="form-control" name="title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="">Content</label>
                                <textarea name="content" id="" class="form-control" placeholder="Content"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Author</label>
                                <input type="text" class="form-control" name="author" placeholder="Author">
                            </div>
                            <input type="submit" value="Add" class="btn-success">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>